.Persik {
  display: block;
  width: 30%;
  max-width: 50px;
  margin: 20px;
}
.picture1 {
  width: 27%; /* Ширина */
  float: left; /* Выстраиваем элементы по горизонтали */
  margin: 0 0 0 3.5%; /* Отступ слева */
  background-image:url('../img/Magic_ball.png');

}
